:root {
  --white-el: whitesmoke;
  --blue-el: #2e47b5;
  --purple-el: #7c4d8e;
  --black-el: black;
  --green-el: #13d65e;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background: url("/images/sound-wave.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.title {
  color: var(--white-el);
  text-align: center;
  margin-top: 10rem;  text-shadow: 0 0 3px var(--white-el), 0 0 3px var(--purple-el);
  text-transform: uppercase;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center; 
}

.key {
  border: .4rem solid var(--white-el);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: var(--white-el);
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem var(--black-el);
}

kbd {
  display: block;
  font-size: 4rem;
}

.playing {
  transform: scale(1.1);
  border-color: var(--green-el);
  box-shadow: 0 0 1rem var(--green-el);
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: bold;
  color: var(--green-el);
  text-shadow: 0 0 3px var(--white-el), 0 0 3px var(--purple-el);
}

