* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: #a2a0a0;
  background: url("/images/sound-wave.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  cursor: pointer;
}

kbd {
  display: block;
  font-size: 4rem;
}